In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

titanic_df = sns.load_dataset('titanic')

In [2]:
titanic_df.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
titanic_df.isnull().sum() # 결측치 데이터 셋 확인

In [ ]:
pd.DataFrame(titanic_df['deck'])

In [ ]:
pd.DataFrame(titanic_df['deck']).fillna(method='ffill')

In [ ]:
pd.DataFrame(titanic_df['deck']).fillna(method='backfill')

In [ ]:
titanic_df.head(3)

In [ ]:
titanic_df.shape

In [ ]:
titanic_df.dropna(axis=0).head(5)

In [ ]:
titanic_df.dropna(axis=0).shape

In [ ]:
titanic_df.dropna(axis=1).head(3)

In [ ]:
titanic_df.dropna(axis=1).shape

In [ ]:
# NaN이 많은 deck column 삭제

new_titanic_df = titanic_df.drop(['deck'], axis=1)

In [ ]:
new_titanic_df.isnull().sum()

In [ ]:
# NaN가 있는 행 삭제

new_titanic_df = new_titanic_df.dropna(axis=0)

In [ ]:
new_titanic_df.isnull().sum()

In [ ]:
titanic_df.shape

In [ ]:
new_titanic_df.shape

In [ ]:
import numpy as np
# 로그 변환 전
plt.hist(new_titanic_df['fare'])
plt.show()

# 로그 변환 후
Log_Fare = np.log1p(new_titanic_df['fare'])
plt.hist(Log_Fare)
plt.show()

In [ ]:
np.expand_dims(np.array(new_titanic_df['age']),0)

In [ ]:
# minmax scaler
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(np.expand_dims(np.array(new_titanic_df['age']),1))
scaled = scaler.transform(np.expand_dims(np.array(new_titanic_df['age']),1))

In [ ]:
plt.hist(new_titanic_df['age'])
plt.show()

plt.hist(scaled.reshape(-1))
plt.show()